$black: #4e5150;
$light-gray: #e5e5e5;
$medium-gray: #bdbdbd;
$dark-gray: #a9a9a9;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
}

img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
